<!doctype html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="container">
      <p>Blog deleted!</p>
    </div>

    <%- include('../partials/footer') %>
  </body>
</html>
