<nav class="nav-background">
  <div class="container nav-content">
    <div class="nav-logo">
      <a href="/">Bloggo</a>
    </div>

    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </div>
</nav>
