<!doctype html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="container about-content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        expedita velit omnis atque, cumque vero molestiae fugiat consectetur
        sapiente similique?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
        itaque, reiciendis quas nesciunt perferendis officia eos temporibus
        maiores labore ipsa.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro iusto
        architecto quos quidem ducimus alias beatae nobis, numquam iure unde.
      </p>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
